---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import SnsShare from "../../components/SnsShare.astro";
import PostDataBlock from "../../components/PostDataBlock.astro";
import { getCollection } from "astro:content";
// 1. コレクションエントリーごとに新しいパスを生成
export async function getStaticPaths() {
	const blogEntries = await getCollection("product");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}
// 2. テンプレートでは、プロパティからエントリーを直接取得できる
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
	title={entry.data.title}
	ogpImageURL={entry.data.thumbnail}
	description={entry.data.description}
>
	<main>
		<Breadcrumb
			lists={[
				{ name: "Products", path: "product" },
				{ name: entry.data.title },
			]}
		/>

		<PostDataBlock
			type="product"
			date={entry.data.date}
			categories={entry.data.categories}
			tags={entry.data.tags}
			title={entry.data.title}
		/>
		<Content />
		<SnsShare url={Astro.url.pathname} title={entry.data.title} />
	</main>
</Layout>

<style>
	main {
		margin-bottom: 4em;
	}
</style>
