---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {siteTitle} from '../config.ts'

const {title, ogpImageURL} = Astro.props;
const path = Astro.site?.host
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="Content-Language" content="ja" />
		<meta name="google" content="notranslate" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={title} />
		<meta property="og:image" content={ogpImageURL} />
		<meta property="og:url" content={Astro.request.url} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<title>{title} | {siteTitle}</title>
	</head>
	<Header />
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
	<Footer />
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
